@use "../abstracts/" as *;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /*Better practice to have box sizing here and declare it in the body in case we want to change box sizing properties in any plugins or components, etc.*/
}

html {
    font-size: 62.5%; 
    font-family: Arial, Helvetica, sans-serif;
}

body {
    // position: relative; 
    box-sizing: border-box;

    // hiding scroll bar
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

    //hiding scroll bar
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

// Utility Classes

.container {
    padding: 0 4rem;
}