

// Colors 

$color-white: white; 

$color-yellow-dark: #ffb100;
$color-yellow-light: #faecd1; 

$color-green-light: #006c67; 
$color-green-dark: #003844; 
$color-green-hover: #def8f673;

$color-list-hover: #f0f0f073;


// Typography

$font-family-logo: "Courgette", cursive;
$font-family-header: "Merriweather", serif;
$font-family-text: "Source Sans Pro", sans-serif;


// Mixins

@mixin listHover {
    transform: translateX(.5rem);
    background-color: $color-list-hover;
}
