@use "../abstracts/" as *;

.navbar {
    height: 7rem; 
    display: flex; 
    justify-content: space-between;
    padding: 2rem; 
    width: 100%;
    font-family: $font-family-header;
    color: $color-white;
    background-color: transparent;
    position: absolute;
    transition: all .9s;
    // position: fixed; 

    &__logo {
        display: flex; 
        align-items: center;
        
        img {
            height: 3rem;
            margin-right: 1rem; 
        }

        &--text {
            font-family: $font-family-logo;
            font-size: 3rem;
            // color: $color-yellow-light;
            padding-top: 5px;
        }
    }

    &__link-container {
        // width: 25%; 
        display: flex; 
        align-items: center;
        font-size: 2rem;
    }

    &__link {
        margin-left: 3rem; 
    }

    &--scrolled {
        background-color: $color-yellow-light;
        position: fixed; 
        // display: none; 
        opacity: 0; 
        transform: translateY(-7.1rem);
        transition: all .3s;
        color: $color-yellow-dark;
    }
}